

#navbar{
  background-color: transparent!important;
}
/* More specific selector to override Bootstrap */
.custom-container {
  
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 50px ;
  padding-bottom: 50px;
}

.hero-text{
  text-align: center;
}
.hero-text-content{
 font-weight: 700;
 font-size: 2.5vw;
 text-align:left ;
}

h4{
  font-weight: 700;
  font-size: 1vw;
}