.container{ 
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 150px;
    padding-bottom: 150px;
    display:flex;
    flex-direction: column;
    gap:50px;
}
.innerContainer{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.card{
    border-radius: 8px;
    background-color: #ede0d6;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction:column ;

}
.cardTitle{
    font-weight: 500;
    font-size: 18px;
}
.subHeader{
    color: #ad7e51;
    text-align: center;
    font-size: 25px;
}