.container {
    background-color: #ede0d6;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 20px;

}

.textSection,
.imageSection {
    flex: 1;
    /* ensure both grow equally */
    max-width: 50%;
    /* limit each side to half */
}